@using EPiServer.Shell.Navigation
@model Stott.Optimizely.RobotsHandler.Presentation.LandingPage.LandingPageViewModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.ApplicationName | @Model.ApplicationVersion</title>
    <link href="@Model.CssFile" rel="stylesheet">
</head>
<body>
    @Html.AntiForgeryToken()
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <div id="stott-robots-ui"></div>
    </div>

    <script src="@Model.JavaScriptFile" nonce="@Model.Nonce"></script>
</body>
</html>
